body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: gray;
}

@keyframes modalExpand {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
